<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='aws-okta' Id='8b80949a-e983-4b1c-b44a-1a0af668922f' UpgradeCode='b2a6bcaa-bda3-4c7f-8dec-d8665d7a9b69' Language='1033' Codepage='1252' Version='${VERSION}'>
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='INSTALLDIR' Name='Segment'>
                <Component Id='MainExecutable' Guid='83f48fd1-1df3-4cc7-820b-ea8ffb5eff16'>
                    <File Id='aws-okta.exe' Name='aws-okta.exe' Source='dist/aws-okta-${VERSION}.exe' KeyPath='yes' />
                </Component>
            </Directory>
        </Directory>
        <Environment Id='UpdatePath' Name='PATH' Action='set' System='no' Part='last' Value='[INSTALLDIR]' />
    </Product>
    <Package Id='*' Keywords='Installer' Description='Installer for the aws-okta commandline tool'
        InstallerVersion='' languages='1033' Compressed='yes' SummaryCodepage='1252' />
</Wix>